.navbar{
    margin-bottom: 0px;
}

.navbar-brand-img{
  position: relevant;
  width: 110px;
  
}

#bannerImage{
    padding-top:75px;
    padding-bottom:50px;
    margin-bottom: 20px;
    text-align:center;
    color:#f8f8f8;
    background:url(../img/mangashop.jpg);
    background-size:cover;
}

#bannerContent{
    position:relative;
    padding-top:6%;
    padding-bottom:6%;
    margin-top:12%;
    margin-bottom:12%;
    background-color:rgba(0,0,0,0.7);
    max-width:660px;
}

.form-comment{
    margin-left: 20px;
}

.btn{
    margin-left: 28px;
    margin-bottom: 10px;
}

.comment-area{
    margin: 30px;
    width: 400px;
    height: 80px;
    background-color: #fff;
    resize: none;
}

.comment-box{
    margin-top: 5px;
    margin-left: 50px;
    width: 600px;
    padding: 20px;
    margin-bottom: 4px;
    background-color: #CDF3FF;
    border-radius: 4px;
}

footer{
    background-color:#101010;
    color:#9d9d9d;
    font-size:14px;
    font-weight:bold;
    padding:10px;    
    bottom:0;
}

html { 
    min-height:100%;
    position:relative;    
} 

.footer { 
    position: absolute; 
    bottom:0; 
    right:0;
    left:0;
}

@media (min-width:320px){
    #autoResize{
        font-size:12px;
    }
}
@media (min-width:481px){
    #autoResize{
        font-size:16px;
    }
}
@media (min-width:641px){
    #autoResize{
        font-size:18px;
    }
}
@media (min-width:961px){
    #autoResize{
        font-size:20px;
    }
}
@media (min-width:1000px){
    #autoResize{
        font-size:26px;
    }
}